/* Made with love by Mutiullah Samim*/
html, body{
    background-image: url('/assets/img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container{
    height: 100%;
    align-content: center;
    }

.card{
    margin-top: auto;
    margin-bottom: auto;
    width: 600px;
    background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
    font-size: 60px;
    margin-left: 10px;
}

.social_icon span:hover{
    color: white;
    cursor: pointer;
}

.card-header h3{
    color: white;
}

.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{
    width: 50px;
    background-color: rgba(178, 114, 78, 1);
    color: white;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}

.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: white;
    border: 1px solid rgba(178, 114, 78, 1);
    background-color: transparent;
    transition: 0.3s;
}

.login_btn:hover{
    color: white;
    background-color: rgba(178, 114, 78, 1);
}

.login_in_btn{
    color: rgba(178, 114, 78, 1);
    border: 1px solid rgba(178, 114, 78, 1);
    background-color: transparent;
    transition: 0.3s;
}

.login_in_btn:hover{
    color: white;
    background-color: rgba(178, 114, 78, 1);
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.square{
    width: 110px;
    height: 110px;
}

.square a{
    color: rgba(178, 114, 78, 1);
    background-color: white;
    border: 1px solid rgba(178, 114, 78, 1);
    width: 120px;
    height: 120px;
    vertical-align: middle;
}

.square span.fas{
    font-size: 50px;
}

.square a:hover{
    background-color: rgba(178, 114, 78, 1);
    color: white;
}

.contener-button{
    display: flex;
}

.content-white{
    background-color: white;
    background-image: none;
}